src/main/resources/xsd/AuditResult-0.1.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:Declaration:datamodel:standard:CN:AuditResult-0.1" targetNamespace="urn:Declaration:datamodel:standard:CN:AuditResult-0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Type/ConveyanceDataType.xsd"/>
	<xs:include schemaLocation="Type/DeclarationTypeCode.xsd"/>
	<xs:include schemaLocation="Type/MessageDefine.xsd"/>
	<xs:include schemaLocation="Type/MessageHead.xsd"/>
	<xs:element name="Message">
		<xs:annotation>
			<xs:documentation>报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHead" type="Head"/>
				<xs:element name="MessageBody">
					<xs:annotation>
						<xs:documentation>报文体</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declaration">
								<xs:annotation>
									<xs:documentation>申报审核结果(AuditResult-0.1)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AuditResult">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AuditResultList" type="AuditResult" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Xmlns" type="Xmlns" use="required" fixed="urn:Declaration:datamodel:standard:CN:AuditResult-0.1">
										<xs:annotation>
											<xs:documentation>报文体命名空间</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DataModelVersion" type="DataModelVersion" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体数据元模型版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Version" type="Version" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AuditResult">
		<xs:annotation>
			<xs:documentation>审核回执结构</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AuditType">
				<xs:annotation>
					<xs:documentation>申报类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X30">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApplyId">
				<xs:annotation>
					<xs:documentation>申报号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X16">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiptCode">
				<xs:annotation>
					<xs:documentation>回执代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X4">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiptDesc">
				<xs:annotation>
					<xs:documentation>回执描述</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X250"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiptAttrDesc">
				<xs:annotation>
					<xs:documentation>回执附加描述</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X250"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AuditId">
				<xs:annotation>
					<xs:documentation>审核人ID</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AuditName">
				<xs:annotation>
					<xs:documentation>审核人名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X50">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AuditTime">
				<xs:annotation>
					<xs:documentation>审核时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="yyyyMMddHHmmss"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SendTime">
				<xs:annotation>
					<xs:documentation>回执发送时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="yyyyMMddHHmmss"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
