src/main/resources/xsd/MSABerthDictionary-0.1.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (sadfsdf) 使用XMLSpy vTeaMsdfdfdf DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2011 (http://www.altova.com) by wn (wn) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:Declaration:datamodel:standard:CN:MSABerthDictionary-0.1" targetNamespace="urn:Declaration:datamodel:standard:CN:MSABerthDictionary-0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Type/ConveyanceDataType.xsd"/>
	<xs:include schemaLocation="Type/DeclarationTypeCode.xsd"/>
	<xs:include schemaLocation="Type/MessageDefine.xsd"/>
	<xs:include schemaLocation="Type/MessageHead.xsd"/>
	<xs:element name="Message">
		<xs:annotation>
			<xs:documentation>original message,报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHead" type="Head"/>
				<xs:element name="MessageBody">
					<xs:annotation>
						<xs:documentation>报文体</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declaration">
								<xs:annotation>
									<xs:documentation>海事泊位字典项（MSABerthDictionary-0.1）</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Berth">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="BerthList" type="Berth" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Xmlns" type="Xmlns" use="required" fixed="urn:Declaration:datamodel:standard:CN:MSABerthDictionary-0.1">
										<xs:annotation>
											<xs:documentation>报文体命名空间</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DataModelVersion" type="DataModelVersion" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体数据元模型版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Version" type="Version" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Berth">
		<xs:sequence>
			<!--泊位代码    BWDM CHAR(7)-->
			<xs:element name="BerthCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--港口代码    GKDM    CHAR(6) -->
			<xs:element name="PortCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--泊位名称    BWMC  VARCHAR(40)-->
			<xs:element name="BerthName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--泊位简称    BWJC  CHAR(40) -->
			<xs:element name="BerthReferred" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--拼音码   PYM VARCHAR(40) -->
			<xs:element name="PhoneticCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--泊位深度 BWSD    DECIMAL(8,2) -->
			<xs:element name="BerthDepth" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="Decimal_8.2_empty"/>
				</xs:simpleType>
			</xs:element>
			<!--泊位等级  BWDJ    INT-->
			<xs:element name="BerthRating" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--靠泊长度 BWCD    INT -->
			<xs:element name="BerthingLength" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--限量TEU XLTEU    INT -->
			<xs:element name="LimitedTEU" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--所属码头 SSMT    VARCHAR(40) -->
			<xs:element name="HarbourView" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--所属海事处 SSHSC    CHAR(6) -->
			<xs:element name="BelongsToTheMarineDepartment" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--机构代码 JGDM   CHAR(6) -->
			<xs:element name="AgencyCode" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--是否对外开放SFDWKF   CHAR(1) -->
			<xs:element name="AreOpening" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--固体危货标志   GTWHBZ    CHAR(1) -->
			<xs:element name="SolidDangerousGoodsMark" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--液体危货标志    YTWHBZ  CHAR(1) -->
			<xs:element name="LiquidDangerousGoodsMark" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--是否供油码头   SFGYMT    CHAR(1)-->
			<xs:element name="IsFuelingDock" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--最大容纳船舶数   ZDRNCBS    INT-->
			<xs:element name="MaximumAccommodatingShipsNum" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--吞吐周转时间  TTZZSJ  INT-->
			<xs:element name="ThroughputTurnaroundTime" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--是否码头主确认   SFMTZQR CHAR(1)-->
			<xs:element name="AreDockMasterConfirmation" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--是否黑名单  SFHMD    CHAR(1)-->
			<xs:element name="AreBlacklist" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--有效标志    YXBZ    CHAR(1)-->
			<xs:element name="ValidFlag" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--更新标志  GXBZ    CHAR(1)-->
			<xs:element name="UpdateFlag" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--更新时间   MRUT    DATE-->
			<xs:element name="Updated" type="yyyyMMddHHmmss" minOccurs="1" maxOccurs="1"/>
			<!--信息来源 XXLY  CHAR(7)-->
			<xs:element name="InformationSource" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--码头航道深度 MTHDSD  DECIMAL(8,2)-->
			<xs:element name="HarbourFairwaDepth" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="Decimal_8.2_empty"/>
				</xs:simpleType>
			</xs:element>
			<!--靠泊限制 KBXZ    VARCHAR(255)-->
			<xs:element name="BerthingRestrictions" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--泊位经度1 BWJD1   FLOAT-->
			<xs:element name="LongitudeBerth1" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--泊位经度2 BWJD2   FLOAT-->
			<xs:element name="LongitudeBerth2" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--泊位纬度1 BWWD1   FLOAT-->
			<xs:element name="LatitudeBerth1" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--泊位纬度2 BWWD2   FLOAT-->
			<xs:element name="LatitudeBerth2" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--泊位编号 BWBH   VARCHAR(9)-->
			<xs:element name="BerthNumber" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
