src/main/resources/xsd/MSAFilingSyncRequest-0.1.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (sadfsdf) 使用XMLSpy vTeaMsdfdfdf DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2011 (http://www.altova.com) by wn (wn) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:Declaration:datamodel:standard:CN:MSAFilingSyncRequest-0.1" targetNamespace="urn:Declaration:datamodel:standard:CN:MSAFilingSyncRequest-0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Type/ConveyanceDataType.xsd"/>
	<xs:include schemaLocation="Type/DeclarationTypeCode.xsd"/>
	<xs:include schemaLocation="Type/MessageDefine.xsd"/>
	<xs:include schemaLocation="Type/MessageHead.xsd"/>
	<xs:element name="Message">
		<xs:annotation>
			<xs:documentation>original message,报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHead" type="Head"/>
				<xs:element name="MessageBody">
					<xs:annotation>
						<xs:documentation>报文体</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declaration">
								<xs:annotation>
									<xs:documentation>海事备案数据同步请求（MSAFilingSyncRequest-0.1）</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FilingRequest" type="FilingRequest"/>
									</xs:sequence>
									<xs:attribute name="Xmlns" type="Xmlns" use="required" fixed="urn:Declaration:datamodel:standard:CN:MSAFilingSyncRequest-0.1">
										<xs:annotation>
											<xs:documentation>报文体命名空间</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DataModelVersion" type="DataModelVersion" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体数据元模型版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Version" type="Version" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FilingRequest">
		<xs:sequence>
			<!--备案类型代码 001:单位注册备案 002：人员注册备案 003:船舶基本信息备案...-->
			<xs:element name="FilingType" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- 数据起始时间 -->
			<xs:element name="StartTime" type="yyyyMMddHHmmss">
				<xs:annotation>
					<xs:documentation>数据起始时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- 数据截止时间 -->
			<xs:element name="EndTime" type="yyyyMMddHHmmss">
				<xs:annotation>
					<xs:documentation>数据截止时间</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- 备注 -->
			<xs:element name="Remark" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
