src/main/resources/xsd/MSAPersonnelRegistrationRecord-0.1.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (sadfsdf) 使用XMLSpy vTeaMsdfdfdf DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2011 (http://www.altova.com) by wn (wn) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:Declaration:datamodel:standard:CN:MSAPersonnelRegistrationRecord-0.1" targetNamespace="urn:Declaration:datamodel:standard:CN:MSAPersonnelRegistrationRecord-0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Type/ConveyanceDataType.xsd"/>
	<xs:include schemaLocation="Type/DeclarationTypeCode.xsd"/>
	<xs:include schemaLocation="Type/MessageDefine.xsd"/>
	<xs:include schemaLocation="Type/MessageHead.xsd"/>
	<xs:element name="Message">
		<xs:annotation>
			<xs:documentation>original message,报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHead" type="Head"/>
				<xs:element name="MessageBody">
					<xs:annotation>
						<xs:documentation>报文体</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declaration">
								<xs:annotation>
									<xs:documentation>海事人员注册备案（MSAPersonnelRegistrationRecord-0.1）</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PersonnelRecordResult">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="PersonnelRecordList" type="EachInfo" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Xmlns" type="Xmlns" use="required" fixed="urn:Declaration:datamodel:standard:CN:MSAPersonnelRegistrationRecord-0.1">
										<xs:annotation>
											<xs:documentation>报文体命名空间</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DataModelVersion" type="DataModelVersion" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体数据元模型版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Version" type="Version" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BasicInfo">
		<xs:sequence>
			<!--身份证号    SFZH VARCHAR(18)-->
			<xs:element name="IDNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--所属类型   SYLX CHAR(1)-->
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--姓名   XM CHAR(60)-->
			<xs:element name="Name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--性别   XB CHAR(1)-->
			<xs:element name="Sex">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--学历   XL VARCHAR(2)-->
			<xs:element name="EducationalBackground">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--联系电话   LXDH CHAR(20)-->
			<xs:element name="ContactNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--EMAIL   EMAIL VARCHAR(30)-->
			<xs:element name="Email">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--申请业务类型   SQYWLX VARCHAR(10)-->
			<xs:element name="ApplicationServiceType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--提交海事机构  TJHSJG CHAR(6)-->
			<xs:element name="SubmitMaritimeOrganisation">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--用户名  LOGINNAME VARCHAR(20)-->
			<xs:element name="Username">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--密码  PASSWORD VARCHAR(255)-->
			<xs:element name="Password">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--文件名称  WJMC VARCHAR(200)-->
			<xs:element name="FileName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--文件存储名称   WJCCMC  VARCHAR(255)-->
			<xs:element name="FileStorageName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--备注   BZ  VARCHAR(255)-->
			<xs:element name="Remark">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--企业组织机构代码 QYZZJGDM VARCHAR(15)-->
			<xs:element name="EnterpriseOrganizationCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--GROUPID   GROUPID CHAR(6)-->
			<xs:element name="Groupid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--userid   USERID CHAR(11)-->
			<xs:element name="Userid">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--有效标志   YXBZ CHAR(1)-->
			<xs:element name="ValidFlag">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--审核标志   SHBZ CHAR(1)-->
			<xs:element name="AuditFlags">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--审核人代码   SHRDM CHAR(11)-->
			<xs:element name="CodeReviewer">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--审核日期   SHRQ  DATE-->
			<xs:element name="ApprovalDate" type="yyyyMMddHHmmss"/>
			<!--审核意见 SHYJ VARCHAR(255)-->
			<xs:element name="AuditOpinion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--机构代码 JGDM CHAR(6)-->
			<xs:element name="AgencyCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--操作时间 CZSJ DATE-->
			<xs:element name="OperationTime" type="yyyyMMddHHmmss"/>
			<!--操作员代码 CZYDM CHAR(11)-->
			<xs:element name="OperatorCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--更新标志 GXBZ CHAR(1)-->
			<xs:element name="UpdateFlag">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--更新时间 MRUT DATE-->
			<xs:element name="Updated" type="yyyyMMddHHmmss"/>
			<!--信息来源 XXLY CHAR(7)-->
			<xs:element name="InformationSources">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--防污染申请业务 FWRSQYW VARCHAR(100)-->
			<xs:element name="AntipollutionApplyBusiness">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--船载申请业务 CZSQYW VARCHAR(100)-->
			<xs:element name="ShipborneApplicationBusiness">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--船舶申报申请业务 CBSQYW VARCHAR(100)-->
			<xs:element name="ShipReportingApplicationService">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--数据来源 SJLY CHAR(3)-->
			<xs:element name="DataSources">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonnelRecord">
		<xs:sequence>
			<!--申报员编号 SBYBH CHAR(18)-->
			<xs:element name="MembersDeclareNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--备案年份BANF CHAR(4)-->
			<xs:element name="RecordYear">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--申报员证书编号 SBYZSBH VARCHAR(30)-->
			<xs:element name="DeclareAuditorCertificateNo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--检查员证书编号 JCYZSBH VARCHAR(30)-->
			<xs:element name="InspectorsCertificateNo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--单位编号 DWBH VARCHAR(15)-->
			<xs:element name="UnitNo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--姓名 XM VARCHAR(30)-->
			<xs:element name="Name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--货物申报员HWSBY CHAR(1)-->
			<xs:element name="MembersGoodsDeclaration">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--船申报员 CSBY CHAR(1)-->
			<xs:element name="BoatDeclareMember">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--装箱检查员 ZXJCY CHAR(1)-->
			<xs:element name="PackingInspector">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--散装固体申报员SGSBY CHAR(1)-->
			<xs:element name="BulkSolidsDeclareMember">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--其他 QT CHAR(1)-->
			<xs:element name="Other">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--其他类别 QTLB VARCHAR(80)-->
			<xs:element name="OtherCategories">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--出生日期 CSRQ DATE-->
			<xs:element name="DateOfBirth" type="yyyyMMdd"/>
			<!--性别   XB CHAR(1)-->
			<xs:element name="Sex">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--学历   XL VARCHAR(2)-->
			<xs:element name="EducationalBackground">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--电话 DH VARCHAR(40)-->
			<xs:element name="Phone">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--传真 CZ VARCHAR(15)-->
			<xs:element name="Fax">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--邮编 YB CHAR(6)-->
			<xs:element name="ZipCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--EMAIL EMAIL VARCHAR(30)-->
			<xs:element name="Email">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--安全诚信承诺 AQCXCN VARCHAR(255)-->
			<xs:element name="GoodFaithCommitmentToSafety">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--声明 SM CHAR(1)-->
			<xs:element name="Statement">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--培训证明编号 PXZMBH CHAR(10)-->
			<xs:element name="TrainingCertificateNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--培训日期 PXRQ DATE-->
			<xs:element name="TrainingDates" type="yyyyMMddHHmmss"/>
			<!--培训单位 PXDW VARCHAR(100)-->
			<xs:element name="TrainingUnit">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--培训地址 PXDD VARCHAR(100)-->
			<xs:element name="TrainingAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--发证日期 FZRQ DATE-->
			<xs:element name="DateOfIssue" type="yyyyMMddHHmmss"/>
			<!--发证机构 FZJG CHAR(6)-->
			<xs:element name="IssuingInstitution">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--知识更新日期 ZSGXRQ DATE-->
			<xs:element name="KnowledgeUpdateDate" type="yyyyMMddHHmmss"/>
			<!--最后年审日期 NSRQ DATE-->
			<xs:element name="FinallyAnnualDate" type="yyyyMMddHHmmss"/>
			<!--工作经历 GZJL VARCHAR(255)-->
			<xs:element name="WorkExperience">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--变更记录 BGJL VARCHAR(255)-->
			<xs:element name="ChangeHistory">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--照片名 ZPM CHAR(40)-->
			<xs:element name="PhotoName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--照片路径 ZPLJ VARCHAR(255)-->
			<xs:element name="PhotoPath">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--照片信息 ZPXX IMAGE-->
			<xs:element name="PhotoInformation">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<!--备案日期 BARQ CHAR(1)-->
			<xs:element name="FilingDate" type="yyyyMMddHHmmss"/>
			<!--用户ID  USERID CHAR(11)-->
			<xs:element name="UserID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--审核单位  SHDM CHAR(6)-->
			<xs:element name="AuditUnit">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--审核人代码   SHRDM CHAR(11)-->
			<xs:element name="CodeReviewer">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--审核日期   SHRQ DATE-->
			<xs:element name="ApprovalDate" type="yyyyMMddHHmmss"/>
			<!--审核意见 SHYJ VARCHAR(100)-->
			<xs:element name="AuditOpinion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--流转标志 LZBZ CHAR(1)-->
			<xs:element name="CirculationFlag">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--备注 BZ  VARCHAR(200)-->
			<xs:element name="Remark">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--录入人员代码 LRRYDM  CHAR(11)-->
			<xs:element name="CodeEntryStaff">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--机构代码 JGDM CHAR(6)-->
			<xs:element name="AgencyCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--更新标志 GXBZ CHAR(1)-->
			<xs:element name="UpdateFlag">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--最近更新时间 MRUT DATE-->
			<xs:element name="LastUpdated" type="yyyyMMddHHmmss"/>
			<!--信息来源 XXLY CHAR(7)-->
			<xs:element name="InformationSources">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--数据来源 SJLY  CHAR(3)-->
			<xs:element name="DataSources">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrainingInfo">
		<xs:sequence>
			<!--申报员编号   MembersDeclareNumber  char(18)-->
			<xs:element name="MembersDeclareNumber">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--序号   XH INT-->
			<xs:element name="No">
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:element>
			<!--培训时间   PXSJ VARCHAR(40)-->
			<xs:element name="TrainingTime">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--培训地点   PXDD VARCHAR(100)-->
			<xs:element name="TrainingLocation">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--培训学时   PXXS VARCHAR(4)-->
			<xs:element name="TrainingHours">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--培训内容   PXNR VARCHAR(255)-->
			<xs:element name="TrainingContent">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--书面成绩   SMCJ VARCHAR(4)-->
			<xs:element name="WrittenScores">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--实践成绩   SJCJ VARCHAR(4)-->
			<xs:element name="PracticeResults">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--备注   BZ  VARCHAR(255)-->
			<xs:element name="Remark">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--更新标志 GXBZ CHAR(1)-->
			<xs:element name="UpdateFlag">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--更新时间 MRUT DATE-->
			<xs:element name="Updated" type="yyyyMMddHHmmss"/>
			<!--信息来源 XXLY CHAR(7)-->
			<xs:element name="InformationSources">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EachInfo">
		<xs:sequence>
			<xs:element name="BasicInfo" type="BasicInfo"/>
			<xs:element name="PersonnelRecord" type="PersonnelRecord"/>
			<xs:element name="TrainingInfoList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TrainingInfo" type="TrainingInfo" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
