src/main/resources/xsd/MSAShipFilingInfo-0.1.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by tt (tt) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:Declaration:datamodel:standard:CN:MSAShipFilingInfo-0.1-0.1" targetNamespace="urn:Declaration:datamodel:standard:CN:MSAShipFilingInfo-0.1-0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Type/ConveyanceDataType.xsd"/>
	<xs:include schemaLocation="Type/DeclarationTypeCode.xsd"/>
	<xs:include schemaLocation="Type/MessageDefine.xsd"/>
	<xs:include schemaLocation="Type/MessageHead.xsd"/>
	<xs:element name="Message">
		<xs:annotation>
			<xs:documentation>报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHead" type="Head"/>
				<xs:element name="MessageBody">
					<xs:annotation>
						<xs:documentation>报文体</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declaration">
								<xs:annotation>
									<xs:documentation>海事船舶备案基本信息(MSAShipFilingInfo-0.1)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InformationLists">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Archive" type="Information" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Xmlns" type="Xmlns" use="required" fixed="urn:Declaration:datamodel:standard:CN:MSAShipFilingInfo-0.1">
										<xs:annotation>
											<xs:documentation>报文体命名空间</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DataModelVersion" type="DataModelVersion" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体数据元模型版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Version" type="Version" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Information">
		<xs:sequence>
			<xs:element name="ApplyId">
				<xs:annotation>
					<xs:documentation>备案编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X16">
						<xs:length value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShipNo">
				<xs:annotation>
					<xs:documentation>船舶编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IMO">
				<xs:annotation>
					<xs:documentation>IMO编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VesselNameEn">
				<xs:annotation>
					<xs:documentation>英文船名</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X50">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VesselNameCn">
				<xs:annotation>
					<xs:documentation>中文船名</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X50"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CallSign">
				<xs:annotation>
					<xs:documentation>船舶呼号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X9">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GrossTonnage" type="Decimal_10.3_empty">
				<xs:annotation>
					<xs:documentation>总吨位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetTonnage" type="Decimal_10.3_empty">
				<xs:annotation>
					<xs:documentation>净吨位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselType">
				<xs:annotation>
					<xs:documentation>船舶类型</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeepDraft" type="Decimal_8.2_empty">
				<xs:annotation>
					<xs:documentation>满吃水</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeadWeightTonnage" type="Decimal_10.3_empty">
				<xs:annotation>
					<xs:documentation>载重吨位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxCrewSpeed" type="Decimal_8.3_empty">
				<xs:annotation>
					<xs:documentation>最大船速</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlagCode">
				<xs:annotation>
					<xs:documentation>内贸船舶唯一识别码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X30"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MMSI">
				<xs:annotation>
					<xs:documentation>船舶通讯号码MMSI</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X50"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuildFactory">
				<xs:annotation>
					<xs:documentation>船舶制造厂</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VesselLength" type="Decimal_8.2_empty">
				<xs:annotation>
					<xs:documentation>船长</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselBreadth" type="Decimal_8.2_empty">
				<xs:annotation>
					<xs:documentation>船宽</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselDeapth" type="Decimal_8.2_empty">
				<xs:annotation>
					<xs:documentation>船高</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HorsePower">
				<xs:annotation>
					<xs:documentation>马力</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X15"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HostNum" type="N8_empty">
				<xs:annotation>
					<xs:documentation>主机数目</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HostPower" type="Decimal_10.3_empty">
				<xs:annotation>
					<xs:documentation>主机功率</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselHost">
				<xs:annotation>
					<xs:documentation>船舶所有人</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X50"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryCode">
				<xs:annotation>
					<xs:documentation>国籍代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X6"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HomeportCode">
				<xs:annotation>
					<xs:documentation>船籍港代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X6">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShipRegistrationNumber">
				<xs:annotation>
					<xs:documentation>船舶登记号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X14"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirstRegistrationNum">
				<xs:annotation>
					<xs:documentation>初次登记号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X14"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShipInspectionRegistrationNum">
				<xs:annotation>
					<xs:documentation>船检登记号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X12"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BrandBookNo">
				<xs:annotation>
					<xs:documentation>牌簿号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShipRiverBoatFlag">
				<xs:annotation>
					<xs:documentation>海船内河船标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="S1"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Route">
				<xs:annotation>
					<xs:documentation>航线</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X2"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CompletionDate">
				<xs:annotation>
					<xs:documentation>建成日期</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="yyyyMMdd"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PropellerNumber" type="N4_empty">
				<xs:annotation>
					<xs:documentation>推进器个数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApprovedWindRating">
				<xs:annotation>
					<xs:documentation>核定抗风等级</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X2"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MinimumFreeboard" type="Decimal_8.3_empty">
				<xs:annotation>
					<xs:documentation>最小干舷数字</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Slotting" type="N4_empty">
				<xs:annotation>
					<xs:documentation>箱位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParkingSpacesNum" type="N4_empty">
				<xs:annotation>
					<xs:documentation>车位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GuestsNum" type="N4_empty">
				<xs:annotation>
					<xs:documentation>客位</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Speed" type="Decimal_5.2_empty">
				<xs:annotation>
					<xs:documentation>航速</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShipOperators">
				<xs:annotation>
					<xs:documentation>船舶经营人</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X60"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProvincialMaritimeOrganisation">
				<xs:annotation>
					<xs:documentation>所属省级海事机构</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X6"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SocietyCode">
				<xs:annotation>
					<xs:documentation>船级社代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X6"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MinimumSafeManningNum" type="N3_empty">
				<xs:annotation>
					<xs:documentation>最低安全配员人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LifeSavingEquipmentMaxNum" type="N5_empty">
				<xs:annotation>
					<xs:documentation>救生设备最大人数</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ICCard">
				<xs:annotation>
					<xs:documentation>IC卡号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X12"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BarCode">
				<xs:annotation>
					<xs:documentation>条形码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X12"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FlagShipNo">
				<xs:annotation>
					<xs:documentation>船舶标志号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X16"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssuerFlag">
				<xs:annotation>
					<xs:documentation>发卡标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="S1"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegistrationMark">
				<xs:annotation>
					<xs:documentation>登记标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="S1"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShipClassification">
				<xs:annotation>
					<xs:documentation>船舶分类	</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="S1"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RecodeDepart">
				<xs:annotation>
					<xs:documentation>录入单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X50"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Opertaion">
				<xs:annotation>
					<xs:documentation>录入人</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X50"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Memo">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X255"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
