src/main/resources/xsd/MSAShipPreArrivalDeclarationConfirmation-0.1.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:Declaration:datamodel:standard:CN:MSAShipPreArrivalDeclarationConfirmation-0.1" targetNamespace="urn:Declaration:datamodel:standard:CN:MSAShipPreArrivalDeclarationConfirmation-0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Type\ConveyanceDataType.xsd"/>
	<xs:include schemaLocation="Type\DeclarationTypeCode.xsd"/>
	<xs:include schemaLocation="Type\MessageDefine.xsd"/>
	<xs:include schemaLocation="Type\MessageHead.xsd"/>
	<xs:element name="Message">
		<xs:annotation>
			<xs:documentation>报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHead" type="Head"/>
				<xs:element name="MessageBody">
					<xs:annotation>
						<xs:documentation>报文体</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declaration">
								<xs:annotation>
									<xs:documentation>海事船舶进口岸确报(MSAShipPreArrivalDeclarationConfirmation-0.1)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Apply" type="Apply"/>
									</xs:sequence>
									<xs:attribute name="Xmlns" type="Xmlns" use="required" fixed="urn:Declaration:datamodel:standard:CN:MSAShipPreArrivalDeclarationConfirmation-0.1">
										<xs:annotation>
											<xs:documentation>报文体命名空间</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DataModelVersion" type="DataModelVersion" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体数据元模型版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Version" type="Version" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Apply">
		<xs:sequence>
			<xs:element name="ApplyId">
				<xs:annotation>
					<xs:documentation>申报号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X16">
<xs:length value="16"/>					
					</xs:restriction>
			
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShipNo">
				<xs:annotation>
					<xs:documentation>船舶编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NameCn">
				<xs:annotation>
					<xs:documentation>中文船名</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NameEn">
				<xs:annotation>
					<xs:documentation>英文船名</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X40">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InportVoyage">
				<xs:annotation>
					<xs:documentation>进口航次</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X12"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Flag">
				<xs:annotation>
					<xs:documentation>内外贸标志</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X1">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UpPort">
				<xs:annotation>
					<xs:documentation>上一港</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X30">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ArrivalDate">
				<xs:annotation>
					<xs:documentation>抵港时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="yyyyMMddHHmmss"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DownPort">
				<xs:annotation>
					<xs:documentation>下一港</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X30">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AwayDate">
				<xs:annotation>
					<xs:documentation>离港时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="yyyyMMddHHmmss"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BerthCode">
				<xs:annotation>
					<xs:documentation>预靠泊位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X7">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MeterialName">
				<xs:annotation>
					<xs:documentation>载货名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X60"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NormalMaterialNum">
				<xs:annotation>
					<xs:documentation>普通货物吨数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Decimal_8.2"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HazardouMaterialNum">
				<xs:annotation>
					<xs:documentation>危险货物吨数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Decimal_8.2"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TravellerTotal">
				<xs:annotation>
					<xs:documentation>旅客总数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Decimal_8"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InpMaleChinaCrew">
				<xs:annotation>
					<xs:documentation>中国籍男旅客数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Decimal_8"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InpFemaleChinaCrew">
				<xs:annotation>
					<xs:documentation>中国籍女旅客数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Decimal_8"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InpMaleForeignCrew">
				<xs:annotation>
					<xs:documentation>外国籍男旅客数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Decimal_8"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InpFemaleForeignCrew">
				<xs:annotation>
					<xs:documentation>外国籍女旅客数量</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Decimal_8"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApplyCompany">
				<xs:annotation>
					<xs:documentation>申报单位</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X100">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ApplyName">
				<xs:annotation>
					<xs:documentation>申报员</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReviceDepart">
				<xs:annotation>
					<xs:documentation>提交海事机构</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X6">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Memo">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X250"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
