src/main/resources/xsd/ShipReleaseInformation-0.1.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2011 rel. 2 sp1 (sadfsdf) 使用XMLSpy vTeaMsdfdfdf DJiNN编辑的 (http://www.altova.com) by -->
<!-- edited with XMLSpy v2011 (http://www.altova.com) by wangnana (inspur) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:Declaration:datamodel:standard:CN:ShipReleaseInformation-0.1" targetNamespace="urn:Declaration:datamodel:standard:CN:ShipReleaseInformation-0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Type/ConveyanceDataType.xsd"/>
	<xs:include schemaLocation="Type/DeclarationTypeCode.xsd"/>
	<xs:include schemaLocation="Type/MessageDefine.xsd"/>
	<xs:include schemaLocation="Type/MessageHead.xsd"/>
	<xs:element name="Message">
		<xs:annotation>
			<xs:documentation>original message,报文</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHead" type="Head"/>
				<xs:element name="MessageBody">
					<xs:annotation>
						<xs:documentation>Message body,报文体</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Declaration">
								<xs:annotation>
									<xs:documentation>船舶放行信息</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Release" type="Release"/>
									</xs:sequence>
									<xs:attribute name="Xmlns" type="Xmlns" use="required" fixed="urn:Declaration:datamodel:standard:CN:ShipReleaseInformation-0.1">
										<xs:annotation>
											<xs:documentation>报文体命名空间</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="DataModelVersion" type="DataModelVersion" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体数据元模型版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Version" type="Version" use="required" fixed="0.1">
										<xs:annotation>
											<xs:documentation>报文体版本号</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Release">
		<xs:sequence>
			<xs:element name="ApplyId">
				<xs:annotation>
					<xs:documentation>申报编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X16">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReleaseCode">
				<xs:annotation>
					<xs:documentation>放行代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X4">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReleaseDesc">
				<xs:annotation>
					<xs:documentation>放行描述</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X250"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReleaseAttrDesc">
				<xs:annotation>
					<xs:documentation>放行附加描述</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X250"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegulatoryCode">
				<xs:annotation>
					<xs:documentation>监管单位代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X6">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegulatoryName">
				<xs:annotation>
					<xs:documentation>监管单位名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X200">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AuditId">
				<xs:annotation>
					<xs:documentation>审核人ID</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X20">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AuditName">
				<xs:annotation>
					<xs:documentation>审核人名称</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="X50">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AuditTime">
				<xs:annotation>
					<xs:documentation>审核时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="yyyyMMddHHmmss"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SendTime">
				<xs:annotation>
					<xs:documentation>回执发送时间</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="yyyyMMddHHmmss"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
